/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.equal {
  display: flex;
  display: -webkit-flex;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}











